$maxWidth: 1440;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

.basket {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #ffffff;
  padding: 0 5%;

  .bids {
    h1 {
      font-weight: 600;
      @include adaptiv-font(24, 15);
      line-height: 36px;
    }

    h2 {
      font-weight: 400;
      @include adaptiv-font(14, 10);
      line-height: 21px;
      margin: 0 0 30px;
    }

    .bidsCards {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .bidsCard {
        max-width: 290px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 25px;
        background: #1d1932;
        border-radius: 18px;
        cursor: pointer;
        padding: 21px 20px 20px 20px;
        box-sizing: border-box;

        &:hover{
          box-shadow: 5px 5px 5px -2px rgba(110, 77, 242, 0.6);
        }
        
        .bidsCard__text {
          h1 {
            font-weight: 600;
            @include adaptiv-font(24, 15);
            line-height: 36px;
          }

          p {
            font-weight: 400;
            @include adaptiv-font(14, 10);
            line-height: 21px;
            color: #68676e;
          }
        }
      }
    }
  }

  .orders {
    .orders__title {
      font-weight: 600;
      @include adaptiv-font(24, 15);
      line-height: 36px;
      margin: 50px 0 61px;
    }

    .orders__description {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #6c7aa0;
      padding: 11px;

      li {
        list-style: none;
        font-weight: 600;
        @include adaptiv-font(14, 10);
        line-height: 21px;
      }
    }
  }
}
