* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  background-color: rgba(19, 17, 41, 1);
}

.container {
  width: 90%;
  margin: 0 auto;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  cursor: pointer;
}

@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Regular.ttf);
  font-display: swap;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperCard .swiper-slide {
  text-align: center;
  font-size: 18px;
  background:  none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
