.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100%;
  .header_search {
    label {
      width: 280px;
      height: 50px;
      background-color: rgba(29, 25, 50, 1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      padding-left: 20px;
      input {
        width: 350px;
        background-color: rgba(29, 25, 50, 1);
        border: none;
        height: 50px;
        border-radius: 10px;
        padding-right: 20px;
        margin-left: 10px;
        color: #ffffff;
        outline: none;
      }
    }
  }
  .header_search:hover{
    box-shadow: 0 0 4px 4px rgba(253, 252, 252, 0.624);
    transition: 0.6s;
    border-radius: 10px;
  }
  .header_search:active{
    box-shadow: 0 0 4px 4px rgba(253, 252, 252, 0.624);
    border-radius: 10px;    

  }

  .header_tools{
    display: flex;
    justify-content: space-between;
    width: 10%;
    img{
        height: 20px;
        width: 20px;
    }
  }
}
