@import '../../styles/varibales.scss';

.setting {
  max-width: 1440px;
  width: 100%;
  color: #ffffff;
  padding: 0 5%;
  box-sizing: border-box;
  margin: 0 auto;
  .setting__title {
    margin: 0 0 30px;
    h1 {
      font-weight: 600;
      @include adaptiv-font(18, 14);
      line-height: 27px;
    }
    h2 {
      font-weight: 400;
      @include adaptiv-font(14, 10);
      line-height: 21px;
    }
  }

  .setting__nav {
    margin: 0 0 50px;
    .setting__list {
      display: flex;
      align-items: center;
      gap: 20px;
      li {
        cursor: pointer;
        font-weight: 400;
        @include adaptiv-font(14, 10);
        line-height: 21px;
      }
    }
  }
}
